<?xml version="1.0" encoding="utf-8" ?>
<Root TaskName="AudioTransfer">
  <HelloWorld>
    <Name>Bobo</Name>
  </HelloWorld>
  <AudioTransfer>
    <Input>
      <AzureFolder Path="300hrs data acquisition/Luzern/Luzern 31.12.2020  Keshina/"/>
      <AzureFolder Path="300hrs data acquisition/Luzern/Luzern 31.12.2020 Oliver /"/>
      <AzureFolder Path="300hrs data acquisition/Luzern/Luzern 31.12.2020 Rahel/"/>
      <AzureFolder Path="300hrs data acquisition/Visp/Visp 31.12.2020 Eleonore /"/>
      <AzureFolder Path="300hrs data acquisition/Visp/Visp 31.12.2020 Heidi/"/>
    </Input>    
    <OutputAzureRootFolder Path="https://marksystemapistorage.blob.core.windows.net/chdatacollections/300hrsRecordingContent/"/>
    <ReportRootFolder Path="d:\tmp"/>
    <AudioRootFolder Path="D:\WorkFolder\Input\300hrsRecordingContent"/>
    <AudioSettings SampleRate="16000" NumChannels="1"/>
  </AudioTransfer>
  <Common>
    <Sox Path="C:\Program Files (x86)\sox-14-4-2\sox.exe"/>
    <Ffmpeg Path="D:\AutomationSystem\ExternalTools\ffmpeg.exe"/>
  </Common>
</Root>